* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", Garamond;
    scroll-behavior: smooth;
}

body {
    background: #202020;
}

.wrapper .sidebar {
    background: rgb(5,68,104);
    position: fixed;
    top: 0;
    left: 0;
    width: 17%;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color: white;
    background: #202020;
    border-right: 5px solid rgb(5, 68, 104);
    border-left: 5px solid rgb(5, 68, 104);
}

.main {
    padding-left: 20%;
    padding-top: 25px;
    margin: auto;
    width: 75%;
}

.main h1,h2,h3,h4 {
    color: white;
}

.main h4 {
    padding-bottom: 3px;
}

.main p {
    font-size: large;
    font-weight: 400;
    padding-top: 5px;
    color: white;
}

/* .main pre {
    background: black;
    overflow: auto;
    border-radius: 6px;
    margin-top: 3px;
}

.main code {
    width: 100%;
    font-size: larger;
    font-weight: 600;
    padding-left: 4px;
    color: white;
} */

.main a {
    color: lightblue;
}

.main hr {
    margin-top: 20px;
    margin-bottom: 60px;
}